#A1{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    bottom: 190px;
    left: 130px;
    cursor: pointer;
   
}

#A2{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    bottom: 190px;
    left: 160px;
    cursor: pointer;

}

#A3{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    bottom: 190px;
    left: 190px;
    cursor: pointer;
    
}

#Ult1{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    bottom: 190px;
    left: 220px;
    cursor: pointer;    
}

// .agentAbilityBox > img {
//     :hover{
//         background-color: red;
//     }
// }

#A1:hover{
    background-color: rgb(255, 104, 104);
}

#A2:hover{
    background-color: rgb(255, 104, 104);
}

#A3:hover{
    background-color: rgb(255, 104, 104);
}

#Ult1:hover{
    background-color: rgb(255, 104, 104);
}


#abilityName{
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    position: absolute;
    bottom: -50px;
    left: 275px;
    color: whitesmoke;
}

#abilityDescription{
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    position: absolute;
    // top: 300px;
    bottom: -250px;
    left: 100px;
    max-height: 10%;
    max-width: 35%;
    color: whitesmoke;
}

#abilityVideo{
    position: relative;
    left: 650px;
    top: 75px;
    bottom: 0px;
}

// .abilityBox{
//     position: absolute;
//     bottom: 0px;
//     width: 100%;
//     height: auto;
//     // top: 100px;
// }

@media (max-aspect-ratio: 16/9){
    #abilityVideo{
        width: 500px;
        height: 425px;
    }
}
