#A1{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    top: 50px;
    left: 100px;
    cursor: pointer;
   
}

#A2{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    top: 50px;
    left: 130px;
    cursor: pointer;

}

#A3{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    top: 50px;
    left: 160px;
    cursor: pointer;
    
}

#Ult1{
    width: 60px;
    height: auto;
    background: #ece8e1;
    position: relative;
    top: 50px;
    left: 190px;
    cursor: pointer;    
}

.agentAbilityBox > img {
    :hover{
        background-color: red;
    }
}

#A1:hover{
    background-color: rgb(255, 104, 104);
}

#A2:hover{
    background-color: rgb(255, 104, 104);
}

#A3:hover{
    background-color: rgb(255, 104, 104);
}

#Ult1:hover{
    background-color: rgb(255, 104, 104);
}

.abilityContainer {
    position: relative;
    top: 50px;
    left: 100px;
}

#abilityName{
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    position: relative;
    bottom: 175px;
    color: whitesmoke;
}

#abilityDescription{
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    position: relative;
    top: 50px;
    max-width: 20%;
    color: whitesmoke;
}

#abilityVideo{
    position: relative;
    left: 600px;
    bottom: 300px;
}

@media (max-aspect-ratio: 16/9){
    #abilityVideo{
        width: 625px;
        height: 325px;
    }
}
