#A1{
    width: 60px;
    height: auto;
    background: #ece8e1;
    cursor: pointer;
    border: solid rgb(218, 167, 167);
   
}

#A2{
    width: 60px;
    height: auto;
    background: #ece8e1;
    cursor: pointer;
    border: solid rgb(218, 167, 167);
}

#A3{
    width: 60px;
    height: auto;
    background: #ece8e1;
    cursor: pointer;
    border: solid rgb(218, 167, 167);
}

#Ult1{
    width: 60px;
    height: auto;
    background: #ece8e1;
    cursor: pointer;    
    border: solid rgb(218, 167, 167);
}

#A1:hover{
    background-color: rgb(255, 104, 104);
}

#A2:hover{
    background-color: rgb(255, 104, 104);
}

#A3:hover{
    background-color: rgb(255, 104, 104);
}

#Ult1:hover{
    background-color: rgb(255, 104, 104);
}

#abilityName{
    background-color: rgba(252, 255, 255, 0.155);
    border: solid rgb(218, 167, 167);
    font-size: 25px;
    width: 26%;
    padding: 2px;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    color: whitesmoke;
}

#abilityDescription{
    background-color: rgba(252, 255, 255, 0.155);
    border: solid rgb(218, 167, 167);
    padding: 10px;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    font-size: 20px;
    max-width: 100%;
    color: whitesmoke;
}

#abilityVideo{
        width: 100%;
        height: auto;
    }