#valoRoleIcon{
    background-color: black;
    position: relative;
    top: 15%;
    right: -50%;
    width: 25px;
    height: 25px;
    z-index: -2;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

#agentRole {
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
    color: whitesmoke;
    font-size: 35px;
    position: relative;
    right: 5%;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    z-index: -1;
}

#valoFullPortrait{
    width: 100%;
    height: auto;
}

#agentTitle {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Times New Roman', serif;
    font-style: italic;
    color: #FFFFFF;
    background-color: #1F2937;
    border: solid 2px #1F2937;
    border-radius: 10px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 20px #FFFFFF;
}

#agentDescription {
    color: whitesmoke;
    max-width: 75%;
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
    font-size: 20px;
    padding: 20px;
    padding-left: 70px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

#neongiF{
    margin: 2%;
    width: 250px;
    height: 250px;
}

#jettgiF{
    margin: 18%;
    width: auto;
    height: 200px;
}

#omengiF{
    margin: 18%;
    width: auto;
    height: 200px;
}

