#valoRoleIcon{
    background-color: black;
    position: relative;
    top: 38%;
    left: 75%;
    width: 25px;
    height: 25px;
    z-index: -1;
}

#agentRole{
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    color: whitesmoke;
    font-size: 35px;
}

#valoFullPortrait{
    width: 100%;
    height: auto;
}

#agentTitle{
    font-weight: bold;
    
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: #de9048;
    background-color: rgb(54, 52, 52);
    border: solid 2px black;
    border-radius: 1%;
    text-transform: uppercase;
   
}

#agentDescription{
    
    color: whitesmoke;
    max-width: 75%;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    font-size: 20px;
    padding: 50px;
  
}

#neongiF{
    margin: 2%;
    width: 250px;
    height: 250px;
}

#jettgiF{
    margin: 18%;
    width: auto;
    height: 200px;
}

