#valoRoleIcon{
    background-color: black;
    width: 30px;
    height: auto;
    position: relative;
    left: 1100px;
    bottom: 335px;
}

#agentRole{
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    color: whitesmoke;
    width: 10px;
    font-size: 35px;
    position: relative;
    left: 940px;
    bottom: 375px;
}

#valoFullPortrait{
    width: 500px;
    height: auto;
    position: relative;
    left: 475px;
    top: 50px;
}

#agentTitle{
    font-weight: bold;
    
    font-size: 55px;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    color: #de9048;
    border: black;
    
    text-transform: uppercase;
    position: relative;
    top: 275px;
    left: 250px;
}

#agentDescription{
    
    color: whitesmoke;
    max-width: 30%;
    position: relative;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    font-size: 20px;
    bottom: 150px;
    left: 950px;
}



@media (max-width: 500px){
    .agentRoleBox{
        width: 100px;
    }
}
