.search-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 10px;
}

#search-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.7);
}

#search-form:hover {
  width: 200px;
  height: 30px;
}

#agentSearch {
  opacity: 0;
  width: 0;
  height: 30px;
  border: none;
  background: #67646457;
  color: rgb(255, 91, 91);
  font-size: 14px;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}

#search-form:hover #agentSearch {
  opacity: 1;
  width: 170px;
}

#search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

#search-btn:hover {
  color: #fff;
}

.fa-search {
  color: #fff;
}


//   -----------------

.help-mark {
    position: fixed;
    top: 22px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .help-mark i {
    font-size: 40px;
    color: #7f7c7c;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .help-mark i:hover {
    color: #ff6b6b;
    text-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
  }
  
  .help-box {
    position: absolute;
    top: 40px;
    right: -100px;
    width: 200px;
    background-color: #ff6b6b;
    border: 1px solid #ffff69;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0 0 5px 2px rgba(255, 255, 255, 0.5);
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

  
  .help-mark:hover .help-box {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
  
  //----------------------
  .githubLinkedin-icons {
    position: fixed;
    top: 20px;
    right: 60px;
    display: flex;
  }
  
  .githubLinkedin-icons a {
    margin-left: 15px;
  }
  
  .githubLinkedin-icons i {
    font-size: 45px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .githubLinkedin-icons i:hover {
    color: #ff6b6b;
    text-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
  }
  
  
  
  
  
  