.agentIconBox > img {
    position: relative;
    bottom: 177px;
    left: 28px;
    width: 65px;
    height: auto;
}

#AstraIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#BreachIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#BrimstoneIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#ChamberIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#CypherIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#FadeIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#GekkoIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#HarborIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#KAYOIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#JettIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#KilljoyIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#NeonIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#OmenIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#PhoenixIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#RazeIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#ReynaIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#SageIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#SkyeIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#SovaIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#ViperIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#YoruIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

