.iconContainer > img {
    width: 65px;
    height: auto;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.iconContainer > img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
