.agentIconBox > img {
    width: 65px;
    height: auto;
    z-index: 1;
}

#AstraIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#BreachIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#BrimstoneIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#ChamberIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#CypherIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#FadeIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#GekkoIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#HarborIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#KAYOIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#JettIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#KilljoyIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#NeonIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#OmenIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#PhoenixIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#RazeIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#ReynaIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#SageIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#SkyeIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#SovaIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#ViperIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#YoruIcon1:hover{
    background-color: rgba(174, 174, 174, 0.414);
    cursor: pointer;
}

#AstraIcon1{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#BrimstoneIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 60px;
}

#BreachIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 120px;
}

#ChamberIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 180px;
}

#CypherIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 240px;
}

#FadeIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 300px;
}

#GekkoIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 360px;
}

#HarborIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 420px;
}

#JettIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 480px;
}

#KAYOIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 540px;
}

#KilljoyIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 600px;
}

#NeonIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 660px;
}

#OmenIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 720px;
}

#PhoenixIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 780px;
}

#RazeIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 840px;
}

#ReynaIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 900px;
}

#SageIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 960px;
}

#SkyeIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 1020px;
}

#SovaIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 1080px;
}

#ViperIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 1140px;
}

#YoruIcon1{
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    margin-left: 1200px;
}