#mapOverV{
    display: flex;
    flex-direction: column;
    margin: 6%;
    width: 700px;
    object-fit: contain;
    height: auto;
    border: 2px solid #ff6b6b;
    box-shadow: 0px 0px 20px #ff6b6b;
}

// #mapOverV *{
//  animation: fadeIn 3s;
// }

.mapViewIcon > img{
    width: 270px;
    border: 2px solid #ff6b6b;
    box-shadow: 0px 0px 20px #ff6b6b;
}

.mapViewIcon > img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgb(255, 25, 25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.mapViewIcon{
    padding-left: 11%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

#mapName{
    padding-left: 10%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    padding-top: 2px;
}



