#mapOverV{
    display: flex;
    flex-direction: column;
    margin: 6%;
    width: 700px;
    object-fit: contain;
    height: auto;
    border: 2px solid #ff6b6b;
    box-shadow: 0px 0px 20px #ff6b6b;
}

.mapViewIcon > img{
    width: 270px;
    border: 2px solid #ff6b6b;
    box-shadow: 0px 0px 20px #ff6b6b;
}

.mapViewIcon > img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.mapViewIcon{
    padding-left: 11%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

#mapName{
   padding-left: 10%;
   font-family: Tungsten-Bold, Arial, Georgia, sans-serif;
   text-shadow: 0px 0px 20px #fb3939;
   font-size: 25px;
   color: #fe5050;
   text-align: center;
}



