body {
    background-color: rgb(58, 56, 56);
    margin: 0;
}

#title-valolytics{
    display: flex;
    position: relative;
    right: 10px;
    font-size: 50px;
    color: rgb(255, 91, 91);
    justify-content: space-around;
}

.searchBox{
    position: absolute;
    left: 75px;
    top: 55px;
}

.backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9){
    .backVideo{
        width: auto;
        height: 200;
    }
}

// .container {
//     position: relative;
//     width: 1200px;
//     height: 300px;
//     margin: 240px auto;
//     background: #000;
// }