body {
    background-color: rgb(93, 87, 87);
    margin: 0;
}

#title-valolytics{
    display: flex;
    position: relative;
    right: 10px;
    font-size: 50px;
    color: rgb(252, 42, 42);
    justify-content: space-around;
}

.searchBox{
    position: relative;
    left: 150px;
    top: 200px;
}

.backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

@media (max-aspect-ratio:16/9){
    #searchBox{
        width: 100;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    #agentAbilityBox{
        width: 100;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    #agentBox{
        width: 100;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    #agentRoleBox{
        width: 100;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    #agentAbilityBox{
        width: 100;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    body{
        width: 10;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .backVideo{
        width: auto;
        height: 200;
    }
}

// .container {
//     position: relative;
//     width: 1200px;
//     height: 300px;
//     margin: 240px auto;
//     background: #000;
// }