// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// html {
//     height: 100%;
// }
// @keyframes fadeIn {
//   0% {opacity: 0;}
//   100% {opacity: 1;}
// }

body {
  background: linear-gradient(to bottom, #01050a, #313030);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  opacity: 85%;
}


#title-valolytics{
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 64px;
    font-style: italic;
    font-weight: bold;
    color: rgb(247, 68, 68);
    text-shadow: 0px 0px 10px rgba(255, 91, 91, 1);
    line-height: 1.2;
    margin-bottom: 1px;
}

.backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -3;
    width: auto;
    height: 100%;
    border-bottom: 30px white;
    
}

.ending1{
  padding: 18px;
  // border: 0.5px solid #171616;
  // box-shadow: 0px 0px 2px #040404;
    padding-top: 1%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    align-items: flex-end;
    vertical-align: middle;
    text-align: center;
}







