#weaponSelector{
    position: relative;
    left: 600px;
    bottom: 100px;
}

#weaponTitle{
    position: relative;
    bottom: 125px;
    left: 586px;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    color: whitesmoke;
    width: 145px;
    background-color: rgba(31, 173, 116, 0.754);
    border-style: solid;
}

#weaponImg{
    position: relative;
    bottom: 10px;
    left: 25px;
}